{layout name="layout"}
	<div class="container-fluid container-bg">
		<div class="container">
			<div class="row content">
				<div class="col-md-4">
					<div class="myimg">
						<img width="80px" src="__ASSETS__images/shangchuan.png" alt="">
						<h4 class="text-center">上传</h4>
					</div>
					<div class="lists">
						<div class="panel panel-info">
						  <div class="panel-heading">已上传信息</div>
						  <div class="panel-body">
						    <p>今日共上传77条</p>
						  </div>
							<table class="table">
								<tr>
									<th width="60%">标题</th>
									<th width="20%">附件</th>
									<th width="20%">操作</th>
								</tr>
								<tr>
									<td>北京16家银行取消首房9折优惠 执行95折利率</td>
									<td></td>
									<td>筛选</td>
								</tr>
							</table>
						  
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="myimg">
						<img width="80px" src="__ASSETS__images/fanyi.png" alt="">
						<h4 class="text-center">翻译</h4>
					</div>
					<div class="lists">
						<div class="panel panel-info">
						  <!-- Default panel contents -->
						  <div class="panel-heading">待翻译信息</div>
						  <div class="panel-body">
						    <p>...</p>
						  </div>

						  <!-- List group -->
						  <ul class="list-group">
						    <li class="list-group-item">Cras justo odio</li>
						    <li class="list-group-item">Dapibus ac facilisis in</li>
						    <li class="list-group-item">Morbi leo risus</li>
						    <li class="list-group-item">Porta ac consectetur ac</li>
						    <li class="list-group-item">Vestibulum at eros</li>
						    <li class="list-group-item">Cras justo odio</li>
						    <li class="list-group-item">Dapibus ac facilisis in</li>
						    <li class="list-group-item">Morbi leo risus</li>
						  </ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="myimg">
						<img width="80px" src="__ASSETS__images/shenhe.png" alt="">
						<h4 class="text-center">审核</h4>
					</div>
					<div class="lists">
						<div class="panel panel-info">
						  <!-- Default panel contents -->
						  <div class="panel-heading">待审核信息</div>
						  <div class="panel-body">
						    <p>...</p>
						  </div>

						  <!-- List group -->
						  <ul class="list-group">
						    <li class="list-group-item">Cras justo odio</li>
						    <li class="list-group-item">Dapibus ac facilisis in</li>
						    <li class="list-group-item">Morbi leo risus</li>
						    <li class="list-group-item">Porta ac consectetur ac</li>
						    <li class="list-group-item">Vestibulum at eros</li>
						    <li class="list-group-item">Cras justo odio</li>
						    <li class="list-group-item">Dapibus ac facilisis in</li>
						    <li class="list-group-item">Morbi leo risus</li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
