<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>风险评估中心信息平台</title>
	<link rel="stylesheet" href="__ASSETS__css/bootstrap.css">
	<link rel="stylesheet" href="__ASSETS__css/common.css">
	<script src="__ASSETS__js/jquery.js"></script>
	<script src="__ASSETS__js/bootstrap.js"></script>
</head>
<body>
	<div class="container main" id="bs-example-navbar-collapse-1">
		<img src="__ASSETS__images/foodmate.gif" alt="">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{:url('index/index')}">首页</a></li>
			<li><a href="{:url('msg/upload')}">上传</a></li>
			<li><a href="{:url('msg/index')}">筛选</a></li>
			<li><a href="{:url('msg/index')}">翻译</a></li>
			<li><a href="{:url('msg/index')}">审核</a></li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{$Think.session.uname}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">修改密码</a></li>
                <li class="divider"></li>
                <li><a href="{:url('index/login/logout')}">安全退出</a></li>
              </ul>
            </li>
		</ul>
	</div>
{__CONTENT__}
</body>
</html>