{layout name="layout"}
<br>
<div class="container">
	<ul class="nav nav-tabs">
	  <li role="presentation" {if $status==4}class="active"{/if}><a href="{:url('review/index',array('status'=>4))}">待审核</a></li>
	  <li role="presentation" {if $status==5}class="active"{/if}><a href="{:url('review/index',array('status'=>5))}">已通过审核</a></li>
	  <li role="presentation" {if $status==6}class="active"{/if}><a href="{:url('review/index',array('status'=>6))}">已拒绝通过</a></li>
	</ul>
	<div class="search">
		<form class="form-inline">
		  <div class="form-group">
		    <label for="exampleInputName2">标题</label>
		    <input type="text" name="keyword" class="form-control" id="exampleInputName2" placeholder="标题关键字" value="{if $keyword}{$keyword}{/if}">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail2">&nbsp;&nbsp;来源</label>
		    <input type="text" name="laiyuan" class="form-control" placeholder="来源关键字" value="{if $laiyuan}{$laiyuan}{/if}">
		  </div>
		  &nbsp;&nbsp;<input type="submit" value="搜索" class="btn btn-primary">
		</form>
	</div>
	<table class="table table-hover table-bordered table-striped">
		<tr>
			<th align="center" width=45%>中文标题</th>
			<th align="center" width=15%>来源</th>
			<th align="center" width=20%>上传时间</th>
			<th align="center" width=20%>操作</th>
		</tr>
		{foreach $lists as $k=>$v}
			<tr>
				<td>{$v.title_cn}</td>
				<td align="center">{$v.laiyuan}</td>
				<td align="center">{:date('Y-m-d',$v['addtime'])}</td>
				<td align="center">
					<a href="{:url('review/show',array('itemid'=>$v['itemid']))}"><img src="__ASSETS__images/kan.png" title="查看"></a>&nbsp;
					{if $v.status==4}
					<a href="{:url('review/yes',array('itemid'=>$v['itemid']))}"><img src="__ASSETS__images/yes.png" title="通过"></a>&nbsp;
					<a href="{:url('review/no',array('itemid'=>$v['itemid']))}"><img src="__ASSETS__images/no.png" title="拒绝"></a>&nbsp;
					{/if}
				</td>
			</tr>
		{/foreach}
	</table>
	<div class="pages">{$lists->render()}</div>
</div>