{layout name="layout"}
{layout name="layout"}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h4>信息详情</h4>
			<form action="" method="post" enctype="multipart/form-data">
			<table class="table table-hover">
				<tr>
					<td width="120px">中文标题 <span class="red">*</span></td>
					<td>
						{$info.title_cn}
					</td>
				</tr>
				<tr>
					<td>英文标题</td>
					<td>
						{$info.title_en}
					</td>
				</tr>
				<tr>
					<td>中文摘要</td>
					<td>
						{$info.zhaiyao_cn}
					</td>
				</tr>
				<tr>
					<td>英文摘要</td>
					<td>
						{$info.zhaiyao_en}
					</td>
				</tr>
				<tr>
					<td>全文附件 <span class="red">*</span></td>
					<td>
						<a href="/uploads/{$info.fujian}">下载</a>
					</td>
				</tr>
				<tr>
					<td>来源名称</td>
					<td>
						{$info.laiyuan}
					</td>
				</tr>
				<tr>
					<td>来源链接</td>
					<td>
						{$info.links}
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<a href="" class="btn btn-primary">加入翻译</a>
						<a href="" class="btn btn-primary">添加翻译</a>
						<a href="" class="btn btn-primary">评论</a>
						<a href="" class="btn btn-primary">审核</a>
					</td>
				</tr>
			</table>
			</form>
		</div>
		<div class="col-md-4">
			<h4>信息状态</h4>
			<ul class="list-group">
				
			</ul>
		</div>
	</div>
</div>