{layout name="layout"}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h4>上传信息</h4>
			<form action="" method="post" enctype="multipart/form-data">
			<table class="table table-hover">
				<tr>
					<td width="120px">中文标题 <span class="red">*</span></td>
					<td>
						<input type="text" class="form-control myinput" size="20" name="title_cn">
					</td>
				</tr>
				<tr>
					<td>英文标题</td>
					<td>
						<input type="text" class="form-control myinput" size="20" name="title_en">
					</td>
				</tr>
				<tr>
					<td>中文摘要</td>
					<td>
						<textarea name="zhaiyao_cn" class="form-control myinput" id="" cols="60" rows="5"></textarea>
					</td>
				</tr>
				<tr>
					<td>英文摘要</td>
					<td>
						<textarea name="zhaiyao_en" class="form-control myinput" id="" cols="60" rows="5"></textarea>
					</td>
				</tr>
				<tr>
					<td>全文附件 <span class="red">*</span></td>
					<td>
						<input type="file" name="fujian" />
					</td>
				</tr>
				<tr>
					<td>来源名称</td>
					<td>
						<input type="text" class="form-control myinput" size="20" name="laiyuan">
					</td>
				</tr>
				<tr>
					<td>来源链接</td>
					<td>
						<input type="text" class="form-control myinput" size="20" name="links">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" class="btn btn-primary" value="提交">
					</td>
				</tr>
			</table>
			</form>
		</div>
		<div class="col-md-4">
			<h4>最近上传</h4>
			<ul class="list-group">
				{foreach $lists as $k => $v}
					<li class="list-group-item"><a href="{:url('index/msg/show',['itemid'=>$v['itemid']])}">{$v.title_cn}</a>&nbsp; <span style="color:#ccc"><?php echo date("Y-m-d",$v['addtime']) ?></span></li>
			 	{/foreach}
			</ul>
		</div>
	</div>
</div>